In [ ]:
#Basics

In [ ]:
#output
print("Hello")

Hello

In [ ]:
#input
x = input("Enter your name : ")
print(x)

Enter your name : Hamza
Hamza

In [ ]:
#adding 2 variables
a = 5
b = 7
c = a + b
print(c)

12

In [ ]:
#taking specific variable type input
x = float(input("Enter a 1st number : "))
y = float(input("enter a 2nd number : "))
m = x + y
print(m)

Enter a 1st number : 7
enter a 2nd number : 8
15.0

In [ ]:
#conditional statemenet
q = int(input("enter a 1st number : "))
w = int(input("enter a 2nd number : "))
if q> w :
  print("1st number",q," is the biggest")
elif q<w :
  print("2nd number",w," is the biggest")
else :
  print("both are equal number please add diffrent number")

enter a 1st number : 7
enter a 2nd number : 8
2nd number 8  is the biggest

In [ ]:
#List
list1 = [8,5,2,9,1,6]
print(list1)

[8, 5, 2, 9, 1, 6]

In [ ]:
#printing list using for loop
for y in list1:
  print(y)

8
5
2
9
1
6

In [ ]:
#for loop for accending oder * print
for x in range(1,11):
 for z in range(x):
  print("*",end="")
 print()

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#for loop for even and odd number
for x in range(0,11):
  if x%2!=0:
    print(x," : is odd number")
  elif x%2==0:
    print(x," : is even number")

0  : is even number
1  : is odd number
2  : is even number
3  : is odd number
4  : is even number
5  : is odd number
6  : is even number
7  : is odd number
8  : is even number
9  : is odd number
10  : is even number

In [ ]:
#for loop for calculating n number of sum
n = int(input("enter a number bigger then 0 : "))
c = 0
for x in  range(0,n):
  c = c + x
print(c)

enter a number bigger then 0 : 11
55

In [ ]:
#Function
#A function have its varibale parameters inside function defeination () and function take argument as its input and give return value as output
def name(x):
  x = input("enter your name : ")
  print(x)
name("Hamza")

enter your name : Hamza
Hamza

In [ ]:
#function for adding 2 numbers and showing there results as output
def add_numbers(a, b):
    total = a + b
    print(total)  # Prints the value of 'total'

add_numbers(10, 15)

25

In [ ]:
#fucntion including return value
def adding(z,x):
  y = z + x
  return y
x = adding(30,16)
x = x + 1
print(x)
#print(adding(30,17))

47

In [ ]:
#default parameter value function
#Name varificatin function
def name_vef(n,x=" : your name has been varified"):
  print(n + x)
h = input("enter your name : ")
name_vef(h)

enter your name : Hamza
Hamza : your name has been varified

In [ ]:
#init function , other fundamentls , lamda finction , oop , dsa

In [ ]:
#lamda functions
#create a lamda function for calculating the current price of dollar to pkr
v = lambda c: 282 * c
print(v(100))

28200

In [7]:
#__init__ fucntion ,class , objects
#oop car class
class cars:
  def __init__(self,name,color,condition,price):
    self.name = name
    self.color = color
    self.condition = condition
    self.price = price

  def specs(self):
    print(f"the car name is {self.name} and it has {self.color} color and its condition is {self.condition} and its price is {self.price}")

c1 = cars("BMW","blue","8/10",7000000)

c1.specs()

the car name is BMW and it has blue color and its condition is 8/10 and its price is 7000000

In [9]:
#List and slicing the list
#List of items
L1 = ["apple","bana",75,True,"orange"]
#accessing elements in list
print(L1[0])
print(L1[-1])
#modifing/updating the list
L1[3] = False
print(L1)
#adding itmes in list
L1.append("pakistan")
print(L1)
#removing the item
L1.remove("orange")
print(L1)
#length of list
print(len(L1))
#Check the item in a list
print("bana" in L1)

apple
orange
['apple', 'bana', 75, False, 'orange']
['apple', 'bana', 75, False, 'orange', 'pakistan']
['apple', 'bana', 75, False, 'pakistan']
5
True

In [19]:
#slicing the LIST
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[0:5:2])
#print the list in reverse order
print(numbers[::-1])

[1, 3, 5]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Dictionary
#creating a dictionary of a book store