In [ ]:
#Basics

In [ ]:
#output
print("Hello")

Hello

In [ ]:
#input
x = input("Enter your name : ")
print(x)

Enter your name : Hamza
Hamza

In [ ]:
#adding 2 variables
a = 5
b = 7
c = a + b
print(c)

12

In [ ]:
#taking specific variable type input
x = float(input("Enter a 1st number : "))
y = float(input("enter a 2nd number : "))
m = x + y
print(m)

Enter a 1st number : 7
enter a 2nd number : 8
15.0

In [ ]:
#conditional statemenet
q = int(input("enter a 1st number : "))
w = int(input("enter a 2nd number : "))
if q> w :
  print("1st number",q," is the biggest")
elif q<w :
  print("2nd number",w," is the biggest")
else :
  print("both are equal number please add diffrent number")

enter a 1st number : 7
enter a 2nd number : 8
2nd number 8  is the biggest

In [ ]:
#List
list1 = [8,5,2,9,1,6]
print(list1)

[8, 5, 2, 9, 1, 6]

In [ ]:
#printing list using for loop
for y in list1:
  print(y)

8
5
2
9
1
6

In [ ]:
#for loop
for x in range(1,11):
 for z in range(x):
  print("*",end="")
 print()

*
**
***
****
*****
******
*******
********
*********
**********

In [2]:
#for loop for even and odd number
for x in range(0,11):
  if x%2!=0:
    print(x," : is odd number")
  elif x%2==0:
    print(x," : is even number")

0  : is even number
1  : is odd number
2  : is even number
3  : is odd number
4  : is even number
5  : is odd number
6  : is even number
7  : is odd number
8  : is even number
9  : is odd number
10  : is even number

In [13]:
#for loop for calculating n number of sum
n = int(input("enter a number bigger then 0 : "))
c = 0
for x in  range(0,n):
  c = c + x
print(c)

enter a number bigger then 0 : 11
55